<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>DevOps Assignment</title>
    <link rel='stylesheet' href='/static/style.css'>
</head>
<body>
    <main class='container'>
        <div class='badge'>CI/CD DEPLOYMENT</div>

        <h1>DevOps Demo Website</h1>

        <p class='subtitle'>Virtual Host Deployment with CI/CD</p>

        <section class='info'>
            <div class='card'>
                <span>Developer</span>
                <strong>Rabi</strong>
            </div>

            <div class='card'>
                <span>Version</span>
                <strong>2.0</strong>
            </div>

            <div class='card'>
                <span>Status</span>
                <strong>Deployed</strong>
            </div>
        </section>

        <div class='success'>
            Python Flask application is running successfully
        </div>
    </main>
</body>
</html>
